body {

  background-color: #252526;
  color: white;

}

.carte {

  background-color: #1B2B34;
  width: 20%;

  padding: 20px;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  border: 2px solid white;
  border-radius: 30px;

}

.carte h2 {

  font-size: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;


}

.bouton, .horloge {

  width: 50%;
  margin: auto;
  text-align: center;

}

.bouton button {

  margin: 10px;

}